<section class="section mt-6">
  <div class="container "> 
   <h1 class="title has-text-light has-text-centered ">温泉ランキング</h1> 
    <div class="columns is-centered "> 
      <div class="column is-5 ">
        <% @onsens.each.with_index(1) do |onsen,i| %>
          <% if onsen.bookmarked_by?(current_user) %>
           <%= link_to  onsen_bookmarks_path(onsen), method: :delete, class: "button card-footer-item has-background-info has-text-danger-light" do %>
             ブックマークを外す（ブックマーク済み）
           <% end %>
          <% else %>
           <%= link_to  onsen_bookmarks_path(onsen), method: :post , class: "button card-footer-item has-background-success	has-text-danger-light fa fa-bookmark " do %>
             ブックマーク
           <% end %>
          <% end %>
          <div class="card  mb-6 is-size-3 ">
           <strong class="is-size-5" style="font-family: Impact;">【第<%= i %>位】</strong>
            <header class="card-header">
              <p class="card-header-title">
                <%= onsen.name %> 
              </p> 
            </header>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= onsen.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= onsen.avg_score %>点（<%= onsen.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div> 
            </div>
            <footer class="card-footer">
              <%= link_to onsen_reviews_path(onsen), class: "button card-footer-item fa fa-eye " do %>
                レビューを見る
              <% end %>
              <%= link_to onsen_path(onsen), class: "button card-footer-item fa fa-pencil-square-o"  do %>
                レビューを書く 
              <% end %>
            </footer>
          </div> 
        <% end %>
      </div>  
    </div> 
  </div>  
</section>
